.banner1
  img.icon(src="https://png.pngtree.com/svg/20170123/96bee2499c.png")
  .control
    .input_block
      input(placeholder="搜尋人、事物、地點...")
      .search
        i.fa.fa-search

  .little_icon#tag1 
    .personimg#name
    span 李奇峰
  .little_icon#bor1
    span 首頁
  .little_icon#bor2
    span 建立
  .little_icon.tool
    i.fas.fa-user-friends
  .little_icon.tool
    i.fab.fa-facebook-messenger
  .little_icon.tool
    i.fas.fa-bell
  .little_icon.tool
    i.fas.fa-question-circle
  .little_icon.tool#menu
    i.fas.fa-caret-down
    .drop-down
      .drop-down-content.header 你的粉絲專頁：
      .drop-down-content 2019社團展演
      hr
      .drop-down-content 管理粉絲專頁
      hr
      .drop-down-content 新社團
      hr
      .drop-down-content 在 Facebook刊登廣告
  
  
  
.contain
  .cover
    .btn_group
      .btn.btn1 更新資料
      .btn.btn2 
        span 活動紀錄
        .renew 3
      .btn.btn3
        i.fas.fa-ellipsis-h
  .nav
    .img_div
      .img_hover
        i.fas.fa-camera 
        br
        span 更新
      .textarea
        h2.name 李奇峰
        h5.eng_name (Tim Lee)
    ul#navbar
      li 動態時報
        i.fas.fa-caret-down
        ul
          li 
            i.fas.fa-bars
            span 清單檢視
          li 
            i.fas.fa-th-large
            span 網格檢視
      li 關於
      li 朋友
      li 相片
      li 典藏
      li 更多
        i.fas.fa-caret-down
        ul
          li.more
            span 影片
          li.more
            span 打卡動態
          li.more
            span instagram
            
  .info
    //放特殊圖案
    i.fas.fa-globe-asia
    h2 簡介
    p 新增個人簡介，讓大家更瞭解你。
    h5
      a(href="") 新增個人簡介
    hr
    .exp
      i.fas.fa-briefcase
      span 成大雄友會員工
    .exp
      i.fas.fa-university
      span 在國立政治大學讀資訊管理(MIS) 。
    .exp
      i.fas.fa-graduation-cap
      span 就讀國立成功大學 National Cheng Kung University 電機工程學系
    .exp
      i.fas.fa-graduation-cap
      span 曾就讀高雄市立高雄高級中學
    .exp
      i.fas.fa-map-marker-alt
      span 來自高雄市
    .exp
      i.far.fa-clock
      span 2009年12月加入