header
  .container
    .logo_area
      span#lazy Lazy
        img(src="https://drive.google.com/uc?export=view&id=1VLrdhcQ8WmhToE_tUxF5F52w8qI8OawJ", alt="")

      span#studio <br>Studio
    
    img.margin(src="https://drive.google.com/uc?export=view&id=1rRp4UzESdhlbF2ZoTAU5KD7mjAlo2X94") 
    
section#section_about
  .container
    .row
      //- .col-sm-offset-4
      .col-sm-8.offset-md-4
        h1.fulltext#firstLine Why LAZY CAT STUDIO?
        h1.shorttext Why LAZY CAT?
    
      .col-sm-10.offset-md-2
        h3#secondLine Interact with other “Cat” breeders!
        h3.shorttext "Cat" breeders Community

        h3#thirdLine Lessons from cat experts 
        h3.shorttext Cat Experts' lesson
      .col-sm-12
        h3#fourthLine Various of activities , make you and your cat enjoy yourselves.
        h3.shorttext A variety of activity from day to night!
      .col-sm-8.offset-md-4
        h3.h3_text#fifthLine 300 new+ members per month
    .row
      .col-sm-4
        button.btn.btn-light#sixthLine Know more ?
  
  img.cat.middle(src="https://drive.google.com/uc?export=view&id=10YDEuaV7gSbFdbJEhu0TO4Zo4rxH8OVp")
  
  img.cat.right(src="https://drive.google.com/uc?export=view&id=1K2bB43GdNvgNyxemmYUFdinMhNw0vDui", alt="")
  img.cat.righttop(src="https://drive.google.com/uc?export=view&id=1UFCpeba2ShG9uiGpH6mo1QGF2dpbi3Ea", alt="")
  img.cat.lefttop(src="https://drive.google.com/uc?export=view&id=1B5KFWbPwKCY5Qt0qmYOg3x3upqxXUf9_", alt="")
  img.cat.left(src="https://drive.google.com/uc?export=view&id=1LULbihkHVo2Wkt01n_reHw1x9BblmiGy", alt="")
  
  
  
  
  img.cursor(src="https://drive.google.com/uc?export=view&id=1L3WiK4M_yxry4gcJwfsainZuQYFvDnoH")
  
section#section_service
  .container
    .row
      .col-sm-12
        h1 Service
    .row
      .col-sm-4
        i.fas.fa-cat
        h4 Cat Community
      .col-sm-4
        i.fas.fa-user-circle
        h4 EXPERT 1 by 1 Consult!
      .col-sm-4
        i.fas.fa-book-open
        h4 Lessons
        
section#section_activity
  
  .container
    .row
      .col-sm-12
        h1 Activities & facility
    .row
      .col-sm-6.act1.act#big
        .act_text
          p.title Cat manner
          p How to make friends with your cat.
      .col-sm-6
        .row
          .col-sm-6.act2.act
            .act_text
              p.titile
              p Cats’ Coziest space
          .col-sm-6.act3.act
            .act_text
              p “Cat Expert” Coming!
              
        .row
          .col-sm-12.act4.act
            .act_text
              
            
              p.title After Party!
    
    
  
  
section#section_contact
  img.leftcat(src="https://drive.google.com/uc?export=view&id=1lwjXTTs6tvMcMYoxIgvNKJtmhpw_r3SP", alt="")
  img.middlecat(src="https://drive.google.com/uc?export=view&id=1VSDOhUT3j62ufsatPoaXK5ZJnhIaDmVi", alt="")
  img.rightcat(src="https://drive.google.com/uc?export=view&id=1cAc-sMOt_dl0RQeFBMNZJYi5B8ENXjTM", alt="")
  img.fence(src="https://drive.google.com/uc?export=view&id=1l7OjEhAJdFV2ZZb6PZrjngIKx67wubON", alt="")
  .container
    .row
      .col-sm-6.mail
        .cover
          img(src="https://drive.google.com/uc?export=view&id=1jbixR_QfZ4WlmOHc9KNSGBv5wN6Auu9N")
        .mailbody
          h6 To Lazy Cat Studio :
          label.bold Name
            input(type="text")
          //- .clearfix
          label.bold Email
            input(type="text")
          //.clearfix
          label.bold Content
            textarea
          
      .col-sm-6.mailword
        h1 CONTACT
        p.message If you want to join us or have any questions, please fill in the blanks on the left.
        p LazyCat@gmail.com<br>ADDRESS: TAIWAN, TAIPEI , XORO Road<br>Phone: 02-12345678
  

      
  
  
footer
  .container
    .logo_area
      span#lazy2 Lazy
      
      img(src="https://drive.google.com/uc?export=view&id=1Bdxk1gKoZRu_pNRkkfR5RuJwo1-INSln", alt="")

      span#studio <br>Studio
      
    
        
      
      
    
