.shoplist
  h1.top 路易莎購物車
  .buy
    label 選購商品
      input#product(placeholder=" 商品名稱...")
    label 價格
      input#price(type="number" placeholder=" 商品價格...")
    .add 新增
    
  .cart
    //- li.item#item_0 1.漢堡
    //-   span.price $200
    //-   span.delbtn(data-btn-id={{btn_id}}) X
    //- li.item 2.雞腿
    //-   span.price $100
    //-   span.delbtn X
    //- li#total_price 總價 
    //-   span.price $300