h1.bgwords1 有機會再來面試 : ( 
  .restart RESUME
.contact 
  i.far.fa-address-card
    span 聯絡方式
.bgwords2
  i.fas.fa-envelope
    span tim21615@gmail.com
  br
  i.fas.fa-phone
    span 0988-612-226
  h1 期待進一步面談 :)
.bgwords3
  i.fas.fa-reply
  span 回上頁

  
.headpic
  .line
  .button Resume
.resume
  .container#heightDetect
    span.h1#a1 前
    span.h1#a2 端
    span.h1#a3 工
    span.h1#a4 程
    span.h1#a5 師
    span.h1#a6  申
    span.h1#a7 請
    span.h1.h  start
    span.h1.h !
    br

    .h4.italic 李奇峰 / O型 / 天秤座 
      i.fas.fa-balance-scale
    .info
      .second_title 一句話簡述自己:
      hr#hr1
      p 熱情的南部人，卻有著科技人該有的沉穩。
      .second_title Education
      hr
      span.italic 國立政治大學資管系
        .italic#date 2019/06畢業


      .second_title.bright#skills Skills
      hr.bright
      .skill
        .skill_item HTML / HTML5
          .outerbox 
            .innerbox#html
        .skill_item CSS / CSS3 / SASS
          .outerbox 
            .innerbox#css
        .skill_item Javascript
          .outerbox 
            .innerbox#javascript
        .skill_item jQuery
          .outerbox 
            .innerbox#jquery
        .skill_item Vue.js
          .outerbox 
            .innerbox#vue
        .skill_item Photoshop
          .outerbox 
            .innerbox#ps
        .skill_item Illustrator
          .outerbox 
            .innerbox#ai
      .second_title Works
      hr
      .container-fluid#works
        .row
          .col-sm-6#lazyCat(onclick="javascript:window.open('https://tim21615.github.io/works/LazyCatStudio/index.html','_blank') ")
            p 懶貓工作室

          .col-sm-6#Louisa(onclick="javascript:window.open('https://tim21615.github.io/works/louisaCoffe/index.html','_blank') ")
            p 路易莎形象網站
          .col-sm-4#FBrwd(onclick="javascript:window.open('https://tim21615.github.io/works/FB%20rwd/index1.html','_blank') ")
            p FB個人頁實作
          .col-sm-4#bkl(onclick="javascript:window.open('https://tim21615.github.io/works/bkl_list/index.html','_blank') ")
            p Vue.js模擬博客來清單
          .col-sm-4#shoplist(onclick="javascript:window.open('https://tim21615.github.io/works/louisa_shoplist/index.html','_blank') ")
            p Ajax 製作購物車
          .col-sm-12#weatherbox(onclick="javascript:window.open('https://tim21615.github.io/works/weatherbox/index.html','_blank') ")
            p 天氣盒子

      .second_title Experience
      hr
      
      h6 1.政大資管畢業專題 - 組長( Android程式撰寫、簡報發表 )
      .dest.dest1 <span class='highlight'>獲獎 |</span> 
      .des.des1 團隊Chopreter以移工社會議題作為發想，並在pitch簡報中頻頻以數據擊中社會痛點，成功在系上專題發表會上，獲得評審青睞，得到<span class='highlight big'> 第二名 </span>的殊榮
      
      h6 2.Gang in yum 美食探險團 - 行銷企劃
      .dest.dest3 <span class='highlight'>獲獎 |</span>
      .des.des3 以高人氣之姿，榮獲創創入門<span class='highlight big'> 第二名</span>
      .dest.dest2 <span class='highlight'>社群文案 |</span> 
      .des.des2 粉專成立短短不到10天，單篇貼文創下<span class='highlight'><span class='big'> 18.7k </span>觸及人數 /<span class='big'> 117 </span>人留言 /<span class='big'> 83 </span>人分享</span><br>
      
      
      h6 3.美商知識能 (Kono) - 軟體測試生
      .dest.dest4 <span class='highlight'>檢驗軟體測試流程 |</span> 
      .des.des4 協助工程師測試 App，並以使用者體驗的方式，找出App 可改善之處
         
      h6 4.小李選貨店/二手拍 - 老闆兼員工      
      .dest.dest5 <span class='highlight'>自己經營的二手衣 / 古著網拍  |</span>
      .des.des5 透過IG、蝦皮、旋轉，三個不同的管道，同時推播行銷。




      

      .second_title#final 最後的考驗
      hr
      p.brown 是否願意進一步面試"李奇峰" ...?
      .btnarea
        .smallbutton#welcome 面試邀約
        .smallbutton#reject 拒絕
        

          
  
  
  
