<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>博客來書店demo</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<div id="app">
  <h1>使用Vue.js計算呈現資訊/v-if</h1>
  <h3>實戰博客來排行榜資料轉換Html<span><img class="bkl_icon" src="http://pk.ixpanel.com/images/pk/201108/0824/BOOKS.gif"/><a href="https://www.books.com.tw/web/sys_saletopb/books/03/?loc=P_002_004" target="_blank">(連結網址)</a></span></h3>
  <label>清單模式
    <input type="checkbox" v-model="list_mode"/>
  </label><span id="split">|</span><span>顯示定價</span>
  <label v-for="(book,index) in books">{{index+1}}
    <input v-model="book.is_discount" type="checkbox"/>
  </label><span id="split">|</span>
  <label>正常模式
    <input type="radio" name="size" v-model="big_mode"/>
  </label>
  <label>老花模式
    <input type="radio" name="size" v-model="big_mode" value="value"/>
  </label><br/><br/>
  <div class="book" v-for="book in books" :class="{list: list_mode ,big: big_mode} "><img :src="book.img"/>
    <div class="infos">
      <h3 class="title" v-if="!list_mode"><a :href="book.book_link" target="_blank">{{book.title.substring(0,15)}}</a></h3>
      <h3 class="title" v-if="list_mode"><a :href="book.book_link" target="_blank">{{book.title}}</a></h3>
      <h4 class="author">作者:<a :href="book.author_link" target="_blank">{{book.author}}</a></h4>
      <h4 class="publish" v-if="list_mode">出版社: {{book.publish}}</h4>
      <h4 class="price" v-if="book.is_discount">優惠價: <span class="red">{{book.discount*100}}</span><span>折 </span><span class="red">{{parseInt(book.price*book.discount)}}</span><span>元</span></h4>
      <h4 class="price" v-if="!book.is_discount">價錢: <span class="red">{{book.price}}</span><span>元</span></h4>
      <h4 class="publish" v-if="list_mode">出版日期: {{book.date}}</h4>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
