@charset "UTF-8";
* {
  position: relative;
  font-family: "Ubuntu", "微軟正黑體";
  color: white;
}

body, html {
  margin: 0px;
  padding: 0px;
  background-color: #262626;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.daybox {
  width: 50%;
  max-width: 400px;
  background-color: #0099ff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.daybox .text_area {
  letter-spacing: 3px;
}
.daybox .text_area .temp {
  letter-spacing: 2px;
}
.daybox:hover .bottom {
  height: 100px;
  transition-duration: 1s;
}
.daybox:hover .dayWeather {
  margin-top: 0px;
}
.daybox:hover #MON {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 1s;
}
.daybox:hover #TUE {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 1.3s;
}
.daybox:hover #WED {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 1.6s;
}
.daybox:hover #THU {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 1.9s;
}
.daybox:hover #FRI {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 2.2s;
}
.daybox:hover #SAT {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 2.5s;
}
.daybox:hover #SUN {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 2.8s;
}

.top {
  height: 300px;
  cursor: pointer;
}
.top .tempsvg {
  width: 100%;
  z-index: 8;
  opacity: 0.3;
  transition-duration: 1s;
}
.top .tempsvg circle {
  fill: white;
}
.top .tempsvg polyline {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}
.top .tempsvg text {
  opacity: 0;
  fill: white;
  font-size: 10px;
  transform: translateX(-5px) translateY(20px);
}
.top .moon {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 40px;
  left: 30px;
  background-color: #ffd633;
  border-radius: 100%;
}
.top .moon .moon1 {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 50px;
  top: -50px;
  border-radius: 100%;
  background-color: #0099ff;
  animation: moon_change 30s infinite;
}
@keyframes moon_change {
  0% {
    left: 50px;
    top: -55px;
  }
  100% {
    left: -60px;
    top: 55px;
  }
}
.top .cloud {
  background-color: white;
  position: absolute;
  right: 50px;
  bottom: 100px;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  animation: cloudmotion 3s infinite;
}
.top .cloud .rain {
  position: absolute;
  width: 1px;
  height: 10px;
  left: 20px;
  top: 20px;
  animation: raindrop 2s infinite linear;
}
.top .cloud .rain1 {
  left: 55px;
  animation-delay: 0.5s;
}
.top .cloud .rain2 {
  left: 68px;
  animation-delay: 0.1s;
}
.top .cloud .cloud1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 53px;
  top: -20px;
  border-radius: 100%;
  background-color: white;
}
.top .cloud .cloud2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 18px;
  top: -30px;
  border-radius: 100%;
  background-color: white;
}

@keyframes cloudmotion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes raindrop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
.bottom {
  background-color: white;
  height: 3px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.bottom .dayWeather {
  width: calc(100% / 7 - 5px);
  margin-right: 3px;
  margin-top: 3px;
  opacity: 0;
  transition-duration: 0.3s;
}
.bottom .dayWeather .day {
  letter-spacing: 2px;
}
.bottom .dayWeather svg {
  width: 100%;
  height: 50px;
}
.bottom .dayWeather svg .sun {
  fill: #ffbf00;
  stroke: rgba(255, 191, 0, 0.4);
  stroke-dasharray: 7px;
  stroke-width: 15px;
}
.bottom .dayWeather svg .cloud {
  animation: cloudmotion 5s infinite;
  fill: #ccc;
}
.bottom .dayWeather svg .rain {
  stroke-width: 5px;
  animation: raindrop 2s infinite;
}
.bottom .dayWeather svg .rain1 {
  animation-delay: 0.5s;
}
.bottom .dayWeather svg .rain2 {
  animation-delay: 1s;
}
.bottom .dayWeather .day, .bottom .dayWeather .daytemp {
  color: #a6a6a6;
  font-size: 8px;
  text-align: center;
}

.text_area {
  display: inline-block;
  position: absolute;
  bottom: 50px;
  left: 30px;
}
.text_area .temp {
  font-size: 60px;
}
.text_area .addr, .text_area .time {
  font-size: 13px;
  opacity: 0.6;
}

.rain {
  background-color: #f2f2f2;
  fill: #f2f2f2;
  stroke: #f2f2f2;
  z-index: 1;
}

#switch:not(:checked) + .top .tempsvg:not(text) {
  transition-duration: 1s;
}
#switch:not(:checked) + .top .tempsvg:not(text) text {
  opacity: 0;
  transition-delay: 2s;
  transition-duration: 1s;
}
#switch:not(:checked) + .top .moon, #switch:not(:checked) + .top .cloud {
  transition-delay: 3s;
  transition-duration: 1s;
}

#switch {
  visibility: hidden;
}
#switch:checked + .top .moon, #switch:checked + .top .cloud {
  opacity: 0.3;
  transition-duration: 1s;
}
#switch:checked + .top .tempsvg {
  opacity: 1;
  transition-delay: 2s;
  transition-duration: 1s;
}
#switch:checked + .top .tempsvg text {
  opacity: 1;
  transition-delay: 3s;
  transition-duration: 1s;
}
