<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Lihi LandingPage_demo1
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700')

    link(rel="stylesheet" href="css/style.css")
  body
    nav.navbar.navbar-custom
      a.navbar-brand(href="#header" ) 
        img(src="img/Logo.svg")
        br
        span.slogan A/B Testing URL Shortener
        
      
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="#") 產品優勢
        li.nav-item
          a.nav-link(href="#") 使用者見證
        li.nav-item
          a.nav-link(href="#") 服務價格
        li.nav-item
          a.nav-link(href="#") 關於我們
        li.nav-item
          a.nav-link(href="#") 知識庫
        li.nav-item
          a.nav-link(href="#") 登入
          
    header#header

      h1.title 傳統短網址問題有夠<span class='more'>多</span><span class='text_orange'>...</span>
      .drawback
        .title.title1 數據不保密
          .sqr
        .title.title2 沒辦法分流做AB測試
          .sqr
        .title.title3 大眾網域被濫用，導致使用上問題多多。
          .sqr
        .title.title4 後端網址無法修改，優化好的廣告換連結要重新優化。
        
        
    //--優點說明: .sub_title是左邊(或小銀幕中的上面)的簡介 .article是右邊(或小銀幕中的下面)的細部說明文字和圖片
    //--使用.half / .full控管 .article中 圖文的寬度比例
    //--每個.strength class 都代表一項優點

    section#section_strength
      .title
          h1 Lihi. io 強大的優點
      .strength.str1.green
        .sub_title
          img(src='img/pic1.png')
          .words
            h5 自訂參數
            p Lihi短網址後方可以增加任何參數<br>增加的參數都會被記錄在數據分析中<br>用一組短網址即能評估<br>網紅跟部落客到底有沒有效
        .article
          img.half(src="img/section1.png")
          .text.half 假設這是你創好的短網址<br>lihi.cc/USvXZ/<br>短網址後面任意加<br>lihi.cc/USvXZ/eva – 給笑亞軒的業配<br>lihi.cc/USvXZ/jolin – 給菜10的業配<br>lihi.cc/USvXZ/jayc – 給周董的業配<br>進去後台數據分析會記錄每個參數被點幾次
          
      .strength.str2.orange
        .sub_title
          img(src='img/pic2.png')
          .words
            h5 AB測試
            p 當使用者點擊縮網址後<br>隨機將使用者導入不同變因的頁面<br>且使用者只會瀏覽到某一個頁面<br>不會因為關掉再打開就跑到另一個頁面

        .article
          img.full(src='img/section2.png')
          .text.full.text_full 運用一個短網址，讓流量平均分配到多個頁面上，最後看成交結果來決定， 哪個頁面的效益最好，且不用擔心消費者重複點擊時會看到不同頁面。
          
      .strength.str3.green
        .sub_title
          img(src='img/pic3.png')
          .words
            h5 自訂網域
            p 用自訂網域可確保安全性跟永久性<br>專屬網域可提高客人與粉絲對品牌識別度<br>進而增加連結點擊率
        .article
          img.full(src='img/section3.png')
          .text.full.text_full 你的短網址不會再局限於 lihi.cc 或是 lihi.io 你可以買自己的網域做專屬的短網址<br>比如說：bktsai.com/點我 <=這就是用 lihi.io 系統做出來的短網址.<br>除了擁有所有完整功能外，後面的網址部分還可以客製化，增加點擊率跟辨識度。
          
          
      .strength.str4.orange
        .sub_title
          img(src='img/pic4.png')
          .words
            h5 後端網址抽獎
            p 輸出的印刷品不需丟棄重新印製新版<br>Lihi縮網址不只可以隨時更改目的網址<br>還可以追蹤掃描次數
        .article
          .text 後端分流連結可隨時替換，增加或是刪除.，前端廣告連結永遠不需更改；<br>若是已印製發送的廣告文宣需做調整，也可於後台輕鬆更新連結。

      .strength.str5.green
        .sub_title
          img(src='img/pic5.svg')
          .words
            h5 帳號分享
            p 【帳號分享 簡介】
        .article
          .text 【帳號分享說明文字】
          
      .strength.str6.orange
        .sub_title
          img(src='img/pic6.svg')
          .words
            h5 Facebook像素 /<br>GTM 置入
            p 【Facebook像素 / GTM 簡介】
        .article
          .text 【Facebook像素 / GTM說明文字】
          
      .strength.str7.green
        .sub_title
          img(src='img/pic7.svg')
          .words
            h5 其他
            p 【其他 簡介】
        .article
          .text 【其他說明文字】

    //--footer包含: user_feedback的圖 和 開始使用的按鈕

    footer#footer
      .user_feedback
        img(src='img/user_feedback2.png')
        
        .button
          .words
            img(src='img/btn_img.png')
            span 免費試用

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    
    script(src="js/index.js")
